<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Drive</title>
    <link rel='stylesheet' href='styles/styles.css' />
    <link rel="shortcut icon" href="/icons/favicon.svg" type="image/x-icon">
</head>
<body>
    <div class="index">
        <%- include('navbar') %>
        <%- include('sidebar', {user: user})%>
        <%- include('main', {user: user, files: files, folders: folders, parentFolder: parentFolder}) %>
        <%- include('upload')%>
        <%- include('new-folder-dialog', {user: user, parentFolder: parentFolder}) %>
    </div>
    <% if (locals.error) { %>
        <script>
            document.querySelector('.new-folder-dialog').showModal();
            alert("<%= error %>");
        </script>
    <% } %>
</body>
</html>