<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Drive</title>
    <link rel='stylesheet' href='styles/styles.css' />
    <link rel="stylesheet" href="styles/uiverseStyles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📂</text></svg>">
</head>
<body>
    <div class="index">
        <%- include('navbar') %>
        <%# include('sidebar', {user: user, pinned: pinned}) %>
        <%# include('main', {user: user, assets}) %>
        <%- include('sidebar', {user: user})%>
        <%- include('main', {user: user}) %>
        <%- include('upload')%>
        <%- include('new-folder-dialog', {user: user}) %>
    </div>
    <% if (locals.error) { %>
        <script>
            document.querySelector('.new-folder-dialog').showModal();
            alert("<%= error %>");
        </script>
    <% } %>
</body>
</html>