<div class="main">
    <div class="pagination">
        <span onclick="window.location.href='/'"> <%= user.username %></span>
        <% let folderquery = ''; locals.parentFolder && locals.parentFolder.split('/').forEach(folder => { %>
            <% folderquery += (folderquery ? '/' : '') + folder %>
            <span onclick="window.location.href='/?folder=<%= encodeURIComponent(folderquery) %>'"> <svg style="transform: rotate(-90deg);" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg> <%= folder %></span>
        <% }) %>
    </div>
    <% if (folders.userFolders.length === 0 && files.userFiles.length === 0) { %>
        <div class="nothing-uploaded">
            <h2>Nothing here!</h2>
            <h2>Start uploading!!!</h2>
        </div>
    <% } else { %>
        <div class="filters-and-options">
            <div class="filters">
                <p>
                    Type
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </p>
                <p>
                    View
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </p>
            </div>
            <div class="options">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    Rename
                </button>
                <button onclick="deleteButtonClickde(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                    Delete
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"/></svg>
                    Share
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                    Download
                </button>
            </div>
        </div>
        <div class="list">
            <div class="list-header">
                <div class="col-name">Name</div>
                <div class="col-date">Date Created</div>
                <div class="col-type">Type</div>
                <div class="col-size">Size</div>
            </div>
            <div class="folder-and-files-container">
                <div class="list-row-container files-container"><% folders.userFolders.forEach(file => { %>
                        <div class="list-row" onclick="listRowClicked(event)" ondblclick="window.location.href='/?folder=<%= encodeURIComponent((locals.parentFolder ? locals.parentFolder + '/' : '') + file.name) %>'" >
                            <div class="name-and-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
                                <div class="col-name"><%= file.name.slice(file.name.lastIndexOf('.') +1) %></div>
                            </div>
                            <div class="col-date"><%= new Date(file.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                            <div class="col-type">Folder</div>
                            <div class="col-size"><%= (file.size / (1024 * 1024)).toFixed(2) %> MB</div>
                        </div>
                    <% }) %></div>
                <div class="list-row-container">
                    <% files.userFiles.forEach(file => { %>
                        <div class="list-row" data-id="<%= file.asset_id %>" onclick="listRowClicked(event)">
                            <div class="name-and-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M304 112L192 112C183.2 112 176 119.2 176 128L176 512C176 520.8 183.2 528 192 528L448 528C456.8 528 464 520.8 464 512L464 272L376 272C336.2 272 304 239.8 304 200L304 112zM444.1 224L352 131.9L352 200C352 213.3 362.7 224 376 224L444.1 224zM128 128C128 92.7 156.7 64 192 64L325.5 64C342.5 64 358.8 70.7 370.8 82.7L493.3 205.3C505.3 217.3 512 233.6 512 250.6L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 128z"/></svg>
                                <div class="col-name"><%= file.name.slice(0, file.name.lastIndexOf('.')) %></div>
                            </div>
                            <div class="col-date"><%= new Date(file.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                            <div class="col-type"><%= file.type %></div>
                            <div class="col-size"><%= (file.size / (1024 * 1024)).toFixed(2) %> MB</div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    <% } %>
    <script>
        let type = ''
        const path = '<%= locals.user.id %>/<%= locals.parentFolder || "" %>'
        let selectedElement = ''
        selectedAssestId = ''
        const imageFormats = [
            'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff', 'svg', 'webp',
            'avif', 'heif', 'heic', 'jxl', 'pdf', 'ai', 'psd', 'eps',
            'fbx', 'obj', 'glb', 'gltf', 'usdz', '3ds', 'ply',
            'arw', 'cr2', 'cr3', 'dng', 'ico', 'tga', 'djvu', 'flif',
            'jp2', 'jxr', 'wdp', 'hdp'
        ];
        
        const videoFormats = [
            'mp4', 'mov', 'avi', 'mkv', 'webm', 'wmv', 'flv',
            'm3u8', 'mpd', 'ts', 'm2ts', 'mts', '3gp', '3g2',
            'ogv', 'mpeg', 'mxf', 'mp3', 'wav', 'flac', 'aac'
        ];

        function listRowClicked(e) {
            document.querySelector('.clicked')?.classList.remove('clicked')
            e.target.closest('.list-row').classList.add('clicked')
            document.querySelector('.options')?.classList.add('active')
            selectedElement = e.target.closest('.list-row')
            type = e.target.closest('.list-row').querySelector('.col-type').textContent
            console.log(type)
            if (type !== 'Folder') {
                if (imageFormats.includes(type)) {type = 'image'}
                else if (videoFormats.includes(type)) {type = 'video'}
                else {type = 'raw'}
            }
            selectedAssestId = e.target.closest('.list-row').dataset.id
            console.log(selectedAssestId)
            console.log(type)
        }

        document.addEventListener('click', (e) => {
            if (!e.target.closest('.list-row') && !e.target.closest('.options')) {
                document.querySelector('.clicked')?.classList.remove('clicked')
                document.querySelector('.options')?.classList.remove('active')
                type = ''
                selectedAssestId = ''
                selectedElement = ''
            }
        })

        async function deleteButtonClickde(event) {
            document.querySelector('.options')?.classList.remove('active')
            selectedElement.remove(selectedElement)
            try {
                await fetch('/asset', {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({assetId: selectedAssestId, assetType: type})
                })
            }
            catch {
                alert('An error occurred while deleting the item.');
            }
        }
    </script>
</div>