<div class="main">
    <% if (folders.userFolders.length === 0 && files.userFiles.length === 0) { %>
        <div class="nothing-uploaded">
            <h2>Nothing here!</h2>
            <h2>Start uploading!!!</h2>
        </div>
    <% } else { %>
        <div class="pagination"><%= user.username %></div>
        <div class="filters">
            <p>Type</p> 
            <p>View</p>
        </div>
        <div class="list">
            <div class="list-header">
                <div class="col-name">Name</div>
                <div class="col-date">Date Created</div>
                <div class="col-type">Type</div>
                <div class="col-size">Size</div>
            </div>
            <div class="folder-and-files-container">
                <div class="list-row-container files-container"><% folders.userFolders.forEach(file => { %>
                        <div class="list-row" ondblclick="window.location.href='/?folder=<%= encodeURIComponent((locals.parentFolder ? locals.parentFolder + '/' : '') + file.name) %>'" >
                            <div class="name-and-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
                                <div class="col-name"><%= file.name.slice(file.name.lastIndexOf('.') +1) %></div>
                            </div>
                            <div class="col-date"><%= new Date(file.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                            <div class="col-type">Folder</div>
                            <div class="col-size"><%= (file.size / (1024 * 1024)).toFixed(2) %> MB</div>
                        </div>
                    <% }) %></div>
                <div class="list-row-container">
                    <% files.userFiles.forEach(file => { %>
                        <div class="list-row">
                            <div class="name-and-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M304 112L192 112C183.2 112 176 119.2 176 128L176 512C176 520.8 183.2 528 192 528L448 528C456.8 528 464 520.8 464 512L464 272L376 272C336.2 272 304 239.8 304 200L304 112zM444.1 224L352 131.9L352 200C352 213.3 362.7 224 376 224L444.1 224zM128 128C128 92.7 156.7 64 192 64L325.5 64C342.5 64 358.8 70.7 370.8 82.7L493.3 205.3C505.3 217.3 512 233.6 512 250.6L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 128z"/></svg>
                                <div class="col-name"><%= file.name.slice(0, file.name.lastIndexOf('.')) %></div>
                            </div>
                            <div class="col-date"><%= new Date(file.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                            <div class="col-type"><%= file.type %></div>
                            <div class="col-size"><%= (file.size / (1024 * 1024)).toFixed(2) %> MB</div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    <% } %>
</div>