<div class="main fl-vert">
    <div class="breadcrumbs fl-horiz" >
        <span onclick="window.location.href='/'" class="pointer hover-underline"> <%= user.username %></span> 
        <% if (currFolder === 'recent' || currFolder === 'starred' || currFolder === 'videos' || currFolder === 'photos' || currFolder === 'documents') { %>
            <span class="fl-horiz" >
                <svg style="transform: rotate(-90deg);" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg> 
                <p onclick="window.location.href='/<%=currFolder%>'" class="pointer hover-underline"><%=currFolder[0].toUpperCase() + currFolder.slice(1)%></p> 
            </span>
        <% } else { %>
            <% let subfolderLink = '' %>
            <% currFolder.split('/').slice(1).forEach(subfolder => { %>
                <% subfolderLink !== '' ? subfolderLink += '/' + subfolder : subfolderLink = subfolder %>
                <span class="fl-horiz" >
                    <svg style="transform: rotate(-90deg);" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg> 
                    <p onclick="window.location.href='/?folder=<%= encodeURIComponent(subfolderLink) %>'" class="pointer hover-underline" > <%= subfolder %> </p>
                </span>
            <% }) %>
        <% } %>
    </div>
    <% if (assets.length === 0) { %>
        <div class="nothing-uploaded">
            <h2>Nothing here!</h2>
            <h2>Start uploading!!!</h2>
        </div>
    <% } else { %>
        <div class="filters-and-options fl-horiz" >
            <div class="filters fl-horiz">
                <div class="fl-horiz card" >
                    <span>Type</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </div>
                <div class="fl-horiz card" >
                    <span>View</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </div>
            </div>
            <div class="options fl-horiz not-active">
                <button class="pin fl-horiz center" onclick="toggleAsset('pinned')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Zm-286 80h252l-46-46v-314H400v314l-46 46Zm126 0Z"/></svg>
                    <span>Pin</span>
                </button>
                <button class="star fl-horiz center" onclick="toggleAsset('starred')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                    <span>Star</span>
                </button>
                <button  class="fl-horiz center"  onclick="renameButtonClicked(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    <span>Rename</span>
                </button>
                <button  class="fl-horiz center"  onclick="deleteButtonClicked(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                    <span>Delete</span>
                </button>
                <button class="fl-horiz center"  >
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T720-200q0-17-11.5-28.5T680-240q-17 0-28.5 11.5T640-200q0 17 11.5 28.5T680-160ZM200-440q17 0 28.5-11.5T240-480q0-17-11.5-28.5T200-520q-17 0-28.5 11.5T160-480q0 17 11.5 28.5T200-440Zm480-280q17 0 28.5-11.5T720-760q0-17-11.5-28.5T680-800q-17 0-28.5 11.5T640-760q0 17 11.5 28.5T680-720Zm0 520ZM200-480Zm480-280Z"/></svg>
                    <span>Share</span>
                </button>
                <button class="fl-horiz center" onclick="downloadOrViewAsset(event)" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                    <span>Download</span>
                </button>
            </div>
        </div>
        <div class="list fl-vert" >
            <div class="list-header">
                <div class="col-name">Name</div>
                <div class="col-date">Date Created</div>
                <div class="col-type">Type</div>
                <div class="col-size">Size</div>
            </div>
            <div class="fl-vert assets-list-container">
                <% assets.forEach(asset => { %>
                    <div class="list-row card" onclick="assetClicked(event, <%= JSON.stringify(asset) %>)"
                    <% if (asset.type === 'folder') { %>
                        ondblclick=" window.location.href='/?folder=<%= encodeURIComponent((asset.location + '/' + asset.name).replace(user.id + '/', '')) %>'"
                    <% } else {%> 
                        ondblclick="downloadOrViewAsset(event)"
                    <% } %>  >
                        <div class="name-and-svg fl-horiz">
                            <% if (asset.type === 'folder') { %>
                                <svg title="Folder" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
                                <div class="col-name text-wrap" title="<%= asset.name %>"> <%= asset.name %> </div>
                            <% } else { %>
                                <svg title="File" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                                <div class="col-name text-wrap" title="<%= asset.name %>"><%= asset.name %></div>
                            <% } %>
                        </div>
                        <div class="col-date text-wrap" title="<%= new Date(asset.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>"><%= new Date(asset.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                        <div class="col-type text-wrap" title="<%= asset.type %>"><%= asset.type %></div>
                        <div class="col-size text-wrap" title="<%= (asset.size / (1024 * 1024)).toFixed(2) %> MB / <%= asset.size %> Bytes %>"><%= (asset.size / (1024 * 1024)).toFixed(2) %> MB</div>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>
<script>

    let assetData = ''
    let selectedElement = null
    const optionsDiv = document.querySelector('.options')

    document.addEventListener('click', (e) => {
        if (!e.target.closest('.list-row') && !e.target.closest('.options')) {
            resetSelection()
        }
    })

    function resetSelection() {
        assetData = ''
        optionsDiv.classList.add('not-active')    
        document.querySelectorAll('.list-row').forEach(row => { row.style.background = ''});    
        document.querySelector('.pin').style.display = ''
        optionsDiv.querySelector('.pin svg').style.fill = ''
        optionsDiv.querySelector('.pin span').textContent = 'Pin'
        optionsDiv.querySelector('.star svg').style.fill = ''
        optionsDiv.querySelector('.star span').textContent = 'Star'
    }

    function assetClicked(e, asset) {
        assetData = asset
        selectedElement = e.target.closest('.list-row')
        optionsDiv.classList.remove('not-active')
        document.querySelectorAll('.list-row').forEach(row => { row.style.background = ''});
        selectedElement.style.background = 'var(--primary)'
        if (assetData.type === 'folder') {
            document.querySelector('.pin').style.display = 'flex'
            if (assetData.pinned) {
                optionsDiv.querySelector('.pin span').textContent = 'Unpin'
                optionsDiv.querySelector('.pin svg').style.fill = 'var(--primary)'
            } 
            else {
                optionsDiv.querySelector('.pin span').textContent = 'Pin'
                optionsDiv.querySelector('.pin svg').style.fill = ''
            }
        }
        else {
            document.querySelector('.pin').style.display = ''
        }    
        if (assetData.starred) {
            optionsDiv.querySelector('.star svg').style.fill = 'gold' 
            optionsDiv.querySelector('.star span').textContent = 'Unstar'
        }
        else {
            optionsDiv.querySelector('.star svg').style.fill = ''
            optionsDiv.querySelector('.star span').textContent = 'Star'
        }
    }

    async function toggleAsset(toggleType) {
        assetData[toggleType] = !assetData[toggleType]
        const isPinned = toggleType === 'pinned'
        const btnClass = isPinned ? '.pin' : '.star'
        const activeFill = isPinned ? 'var(--primary)' : 'gold'
        const activeText = isPinned ? 'Unpin' : 'Unstar'
        const inactiveText = isPinned ? 'Pin' : 'Star'
        
        const btn = optionsDiv.querySelector(btnClass)
        btn.querySelector('span').textContent = assetData[toggleType] ? activeText : inactiveText
        btn.querySelector('svg').style.fill = assetData[toggleType] ? activeFill : ''

        if (assetData.pinned && toggleType === 'pinned') {
            newPin = document.createElement('div')
            newPin.classList.add('pinned-folder', 'fl-horiz', 'width100')
            newPin.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Zm-286 80h252l-46-46v-314H400v314l-46 46Zm126 0Z"/></svg>
                <p style="cursor:pointer; text-align: center; flex: 1" onclick="window.location.href='/?folder=${encodeURIComponent((assetData.location + '/' + assetData.name).replace('<%= user.id %>/', ''))}'"> ${assetData.name} </p>
            `
            pinnedContainer = document.querySelector('.pinned')
            const existingPins = Array.from(pinnedContainer.querySelectorAll('.pinned-folder'))
            const nextPin = existingPins.find(pin => pin.querySelector('p').textContent.trim().localeCompare(assetData.name) > 0)
            
            if (nextPin) {
                pinnedContainer.insertBefore(newPin, nextPin)
            } else {
                pinnedContainer.appendChild(newPin)
            }
        }
        else if(!assetData.pinned) {
            pinnedFolders = document.querySelectorAll('.pinned-folder')
            pinnedContainer = document.querySelector('.pinned')
            pinnedFolders.forEach(folder => {
                if (folder.querySelector('p').textContent.trim() === assetData.name) {
                    pinnedContainer.removeChild(folder)
                }
            })
        }

        selectedElement.setAttribute('onclick', `assetClicked(event, ${JSON.stringify(assetData)})`)
        
        try {
            await fetch('/toggle', {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({toggle: toggleType, assetData: assetData})
            })
        }
        catch {
            alert('An error occurred while updating the item.');
        }
    }

    async function deleteButtonClicked(event) {
        const selectedAssetData = structuredClone(assetData)
        selectedElement.remove(selectedElement)
        resetSelection()

        try {
            await fetch('/asset', {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({assetData: selectedAssetData})
            })
        }
        catch {
            alert('An error occurred while deleting the item.');
        }
    }

    async function renameButtonClicked(event) {
        const selectedAssetData = structuredClone(assetData)
        resetSelection()
        const oldName = selectedElement.querySelector('.col-name').textContent
        const inputElem = document.createElement('input')
        inputElem.classList.add('new-name')
        inputElem.value = oldName
        selectedElement.querySelector('.col-name').replaceWith(inputElem)
        inputElem.select()
        inputElem.addEventListener('keydown', (e) => {e.key === 'Enter' && inputElem.blur()})
        inputElem.addEventListener('blur', async () => {
            const newNameElem = document.createElement('div')
            newNameElem.classList.add('col-name', 'text-wrap')
            const finalName = inputElem.value.trim() === "" ? oldName.trim() : inputElem.value.trim()
            newNameElem.textContent = finalName
            newNameElem.title = finalName
            inputElem.replaceWith(newNameElem)
            const newAssetData = { ...selectedAssetData, name: newNameElem.textContent.trim() }
            if (newAssetData.type  === 'folder') {
                const newPath = `${newAssetData.location}/${newAssetData.name}`.replace('<%= user.id %>/', '')
                newNameElem.closest('.list-row').setAttribute('ondblclick', `window.location.href='/?folder=${encodeURIComponent(newPath)}'`)
            }
            newNameElem.closest('.list-row').setAttribute('onclick', `assetClicked(event, ${JSON.stringify(newAssetData)})`)

            if (newAssetData?.pinned) {
                const pinned = Array.from(document.querySelectorAll('.pinned-folder p')).find(pinnedFolder => pinnedFolder.textContent.trim() === oldName.trim())
                if (pinned) {
                    pinned.textContent = newAssetData.name
                    pinned.title = newAssetData.name
                    const newPath = `${newAssetData.location}/${newAssetData.name}`.replace('<%= user.id %>/', '')
                    pinned.setAttribute('onclick', `window.location.href='/?folder=${encodeURIComponent(newPath)}'`)
                }
            }

            if (oldName.trim() !== newNameElem.textContent.trim()) {
                try {
                    await fetch('/asset', {
                        method: 'PATCH',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({newDisplayName: newNameElem.textContent.trim(), assetData: selectedAssetData})
                    })
                }
                catch {
                    alert('An error occurred while deleting the item.');
                }
            }

        })
    }

    async function downloadOrViewAsset(event) {
        console.log(assetData)
        const shouldView = !event.target.closest('button')
        try {
            const response = await fetch('/download', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({assetData: assetData, shouldView})
            })
            const result = await response.json()
            if (result.success && result.downloadLink) {
                if (shouldView) {
                    window.open(result.downloadLink, '_blank')
                } else {
                    window.location.href = result.downloadLink
                }
            }
        }
        catch (error) {
            alert('An error occurred while downloading the item.');
            console.log(error)
        }
    }

</script>